body {
    color: #333333;
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    background: #FBFBFB;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 1140px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
}

h1, h2, h3, h4, h5, h6,
p, ul, li {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}

a {
	display: inline-block;
	text-decoration: none;
	font-family: 'Museo Sans Cyrl', sans-serif;
    color: #fff;
    -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
    cursor: pointer;
}

a:hover {
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
	overflow: auto;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.entrance {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrance__content {
    width: 350px;
}

.avatar {
    width: 93px;
    height: 93px;
    background: #C4C4C4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto 15px;
}

.entrance__input {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px 14px;
}

.entrance__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.entrance__input:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.entrance__input--email {
    margin-bottom: 10px;
}

.entrance__input--pass {
    margin-bottom: 15px;
}

.entrance__submit {
    width: 100%;
    background: linear-gradient(256.32deg, #EE576C 5.48%, #EB3A79 92.14%), #EC3F57;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFF;
    padding: 11px;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.entrance__submit:hover,
.company-modal__save:hover,
.doing-modal__save:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    box-shadow: 0px 0px 15px #ED546D;
}

.title-2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
}

.title-3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.aside {
    width: 66px;
    background: #405260;
    border: 1px solid #000000;
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ava {
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 20px;
}

.menu {
    width: 36px;
}

.menu__link {
    width: 36px;
    height: 36px;
    position: relative;
}

.menu__link--common {
    background: url('../img/common.svg') no-repeat center center;
}

.menu__link--director {
    background: url('../img/man.svg') no-repeat center center;
}

.menu__link--card {
    background: url('../img/card.svg') no-repeat center center;
}

.menu__link--count {
    background: url('../img/account.svg') no-repeat center center;
}

.menu__link--documents {
    background: url('../img/documents.svg') no-repeat center center;
}

.menu__link--doing {
    background: url('../img/doing.svg') no-repeat center center;
}

.menu__link--common:before,
.menu__link--director:before,
.menu__link--card:before,
.menu__link--count:before,
.menu__link--documents:before,
.menu__link--doing:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    z-index: 10;
}

.menu__link--common:before {
    background: url('../img/common-h.svg') no-repeat center center, linear-gradient(222.66deg, #6A90FF 0.12%, #0A94FF 102.44%);
}

.menu__link--director:before {
    background: url('../img/man-h.svg') no-repeat center center, linear-gradient(222.66deg, #6A90FF 0.12%, #0A94FF 102.44%);
}

.menu__link--card:before {
    background: url('../img/card-h.svg') no-repeat center center, linear-gradient(222.66deg, #6A90FF 0.12%, #0A94FF 102.44%);
}

.menu__link--count:before {
    background: url('../img/account-h.svg') no-repeat center center, linear-gradient(222.66deg, #6A90FF 0.12%, #0A94FF 102.44%);
}

.menu__link--documents:before {
    background: url('../img/documents-h.svg') no-repeat center center, linear-gradient(222.66deg, #6A90FF 0.12%, #0A94FF 102.44%);
}

.menu__link--doing:before {
    background: url('../img/doing-h.svg') no-repeat center center, linear-gradient(222.66deg, #6A90FF 0.12%, #0A94FF 102.44%);
}

 .menu__link--common:hover:before,
 .menu__link--director:hover:before,
 .menu__link--card:hover:before,
 .menu__link--count:hover:before,
 .menu__link--documents:hover:before,
 .menu__link--doing:hover:before {
    opacity: 1;
}

.menu__link--active:before {
    opacity: 1;
}

.menu__link--common:after,
.menu__link--director:after,
.menu__link--card:after,
.menu__link--count:after,
.menu__link--documents:after,
.menu__link--doing:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 36px;
    width: 0;
    height: 33px;
    border-radius: 2px;
    background: linear-gradient(197.41deg, #7AA1FF 0.12%, #6BACFB 102.44%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.3s;
    -webkit-transition: opacity 0.5s, visibility 0s linear 0.3s;
    -moz-transition: opacity 0.5s, visibility 0s linear 0.3s;
    -ms-transition: opacity 0.5s, visibility 0s linear 0.3s;
    -o-transition: opacity 0.5s, visibility 0s linear 0.3s;
}

.menu__link--common:after {
    content: "Общее";
    width: 100px;
}

.menu__link--director:after {
    content: "Руководитель";
    width: 150px;
}

.menu__link--card:after {
    content: "Банковская карта";
    width: 172px;
}

.menu__link--count:after {
    content: "Банковский счет";
    width: 166px;
}

.menu__link--documents:after {
    content: "Документы";
    width: 133px;
}

.menu__link--doing:after {
    content: "События";
    width: 116px;
}

.menu__link--common:hover:after,
.menu__link--director:hover:after,
.menu__link--card:hover:after,
.menu__link--count:hover:after,
.menu__link--documents:hover:after,
.menu__link--doing:hover:after {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.enter {
    width: 17px;
    height: 17px;
    margin-top: auto;
    margin-bottom: 38px;
    background: url('../img/output.png') no-repeat center center / cover;
    position: relative;
    z-index: 3;
}

.enter:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.content {
    width: 1074px;
    padding: 20px 0 0 50px;
}

.header,
.editing__header {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(182, 182, 182, 0.27);
    border-radius: 5px;
}

.header__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
}

.edit-link {
    width: 187px;
    height: 32px;
    background: linear-gradient(260.54deg, #EE576C 5.48%, #EB3A79 92.14%), #EC3F57;
    border-radius: 92px;
    text-align: center;
    line-height: 32px;
    font-size: 13px;
    font-weight: 500;
}

.edit-link:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 15px #ED546D;
}

.content__row,
.editing__row {
    padding: 20px 60px;
    display: flex;
}

.card-content .content__rows {
    height: 348px;
    overflow: auto;
}

.content__row:nth-child(2n),
.editing__row:nth-child(2n) {
    background: #F1F5F9;
    border-radius: 3px;
} 

.content__subtitle,
.editing__subtitle {
    width: 355px;
    text-transform: uppercase;
    font-weight: 700;
}

.content__desc,
.editing__desc {
    width: 544px;
    font-weight: 500;
}

.director-content .content__row {
    padding-right: 20px;
}

.director-content .content__desc {
    width: 505px;
}

.content__info {
    width: 75px;
    color: #B6B6B6;
    text-align: right;
}

.editing__desc .editing__link,
.content__loading {
    background: linear-gradient(194.01deg, #6A90FF 0.12%, #0A94FF 102.44%);
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

.editing__desc .editing__link:hover,
.content__loading:hover {
    color: #0A94FF;
}

.content__loading--save {
    background: linear-gradient(260.54deg, #EE576C 5.48%, #EB3A79 92.14%), #EC3F57;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

.content__loading--save:hover {
    background: linear-gradient(260.54deg, #EE576C 5.48%, #EB3A79 92.14%), #EC3F57;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

.content__text {
    margin-bottom: 20px;
}

.content__text:last-child {
    margin-bottom: 0;
}

.content__box {
    margin-bottom: 40px;
}

.plus {
    width: 56px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-right: 20px;
    background: linear-gradient(208.66deg, #6A90FF 0.12%, #0A94FF 102.44%);
    border-radius: 92px;
}

.plus:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0px 0px 15px #6A90FF;
}

.editing {
    margin-bottom: 58px;
}

.pagination__links {
    width: 355px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    margin: 0 auto;
}

.prev,
.next {
    display: block;
    position: relative;
    cursor: pointer;
}

.next:after,
.prev:after {
    display: block;
    content: '';
    width: 9px;
    height: 14px;
    background: url(../img/arrow.png) no-repeat center;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 0;
}

.next {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.pagination__num {
    width: 30px;
    height: 30px;
    display: block;
    color: #405260;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(182, 182, 182, 0.27);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}

.pagination__num:hover,
.pagination__num--active {
    color: #fff;
    background: #9DBFE8;
}

.pagination__break {
    display: block;
    width: 136px;
    height: 1px;
    background: #D6E1EC;
    border-radius: 1px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    width: 2px;
    border-radius: 10px;
    background-color: #c2c2c2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
::-webkit-scrollbar-track {
    width: 4px;
    background-color: #fafafa;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
}

.documents-content .content__subtitle {
    width: 654px;
}

.documents-content .content__desc {
    width: 250px;
}

.doing-content .content__row:nth-child(2n) {
    background: none;
}

.doing-content .content__row:nth-child(2n+1) {
    background: #F1F5F9;
    border-radius: 3px;
}

.doing-content .content__rows {
    padding-top: 40px;
    margin-bottom: 40px;
}

.doing-content .content__row {
    padding: 18px 60px;
    flex-direction: column;
    width: 1024px;
}

.content__when {
    font-size: 10px;
    text-transform: uppercase;
    color: #989898;
    margin-bottom: 8px;
}

.content__links a {
    font-size: 10px;
    line-height: 12px;
    color: #989898;
}

.content__links a:hover {
    color: #989898;
    text-decoration: underline;
}

.content__del {
    margin-right: 33px;
}

.company {
    width: 1024px;
}

.company-content .header__title {
    margin-right: 15px;
}

.company-content .header__counter {
    font-size: 13px;
    color: #D6E1EC;
    margin-top: 5px;
}

.header__text {
    display: flex;
    align-items: center;
}

.header__search {
    position: relative;
}

.header__input {
    width: 316px;
    background: #FFFFFF;
    border: 1px solid #D6E1EC;
    border-radius: 20px;
    margin-right: 70px;
    position: relative;
    padding: 7px 14px;
}

.header__input::-webkit-input-placeholder,
.company-modal__input::-webkit-input-placeholder,
.doing-modal__message::-webkit-input-placeholder {
    color: #D6E1EC;
}

.header__input:-moz-placeholder,
.company-modal__input:-moz-placeholder,
.doing-modal__message::-webkit-input-placeholder {
    color: #D6E1EC;
}

.header__choice {
    display: block;
    content: "по ИНН"
}

.header__choice {
    position: absolute;
    top: 0;
    left: 274px;
    width: 92px;
    height: 32px;
    position: absolute;
    background: url('../img/arrow-white.svg') no-repeat 72px 9px, linear-gradient(198.4deg, #6A90FF 0.12%, #0A94FF 102.44%);
    border-radius: 92px;
}

.header__choice:after {
    display: block;
    content: "по ИНН";
    color: #fff;
    line-height: 32px;
    padding-left: 11px;
}

.header__choice--name:after {
    display: block;
    content: "по наим";
    color: #fff;
    line-height: 32px;
    padding-left: 11px;
}

.add-link {
    width: 204px;
    height: 32px;
    background: linear-gradient(259.7deg, #EE576C 5.48%, #EB3A79 92.14%), #EC3F57;
    border-radius: 92px;
    color: #fff;
    padding: 6px 15px 7px;
}

.add-link__plus {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #EC3F57;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

.company__subtitles {
    padding: 40px 0 19px 60px;
    display: flex;
}

.company__subtitle {
    color: #B6B6B6;
}

.company__list {
    width: 100%px;
    margin-bottom: 21px;
}

.company__item--active {
    position: relative;
}

.company__item--active:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 6px;
    height: 58px;
    background: linear-gradient(263.83deg, #6A90FF 0.12%, #0A94FF 102.44%);
    border-radius: 3px 0px 0px 3px;
}

.company__item:nth-child(2n) {
    background: #F1F5F9;
    border-radius: 3px;
} 

.company__link {
    width: 100%;
    height: 100%;
    color: #333333;
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding: 19px 0 19px 60px;
    display: flex;
}

.company__link:hover {
    color: #333333;
}

.company__column-1 {
    width: 296px;
}

.company__column-2 {
    width: 163px;
}

.company__column-3 {
    width: 286px;
}

.company__column-4 {
    width: 200px;
}


/****************** company-modal ************************/

.company-modal,
.doing-modal {
    width: 366px;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(182, 182, 182, 0.27);
    padding: 30px 25px 20px;
    border-radius: 5px;
}

.doing-modal {
    padding: 19px 25px;
}

.company-modal__input {
    width: 100%;
    border: 1px solid #D6E1EC;
    border-radius: 20px;
    padding: 7px 14px;
    margin-bottom: 9px;
}

.company-modal__input--activity {
    margin-bottom: 15px;
}

.company-modal__save,
.doing-modal__save {
    width: 100%;
    background: linear-gradient(254.27deg, #EE576C 5.48%, #EB3A79 92.14%), #EC3F57;
    border-radius: 92px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

.doing-modal__message {
    width: 100%;
    height: 173px;
    margin-bottom: 10px;
    border: 1px solid #D6E1EC;
    border-radius: 20px;
    padding: 15px;
}

.save-link {
    background: linear-gradient(189.3deg, #6A90FF 0.12%, #0A94FF 102.44%);
    border-radius: 92px;
    width: 187px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.save-link:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    box-shadow: 0px 0px 15px #0A94FF;
}

.red-input {
    width: 100%;
    border: none;
    background: transparent;
    color: #737373;
}

.content__row--red {
    padding-right: 0;
}

.content__text--del {
    display: flex;
    justify-content: space-between;
    width: 598px;
}

.content__desc-text {
    width: 94%;
    cursor: pointer;
    background: transparent;
	-moz-appearance: none;
    border: none;
    color: #737373;
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}

.content__desc-del {
    display: block;
    width: 17px;
    height: 17px;
    margin-top: 3px;
    cursor: pointer;
}

.content__editing--red {
    margin-bottom: 0;
}

.del-bank {
    width: 72px;
    height: 36px;
    background: linear-gradient(267.13deg, #EE576C 5.48%, #EB3A79 92.14%), #EC3F57;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: 15px;
}

.del-bank img {
    width: 17px;
    height: 17px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.del-bank:hover > img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}